@font-face {
    font-family: "Bad";
    src: url(../font/BreakingBad.ttf);
}

.principal{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Bad";
}

.bodytabla{
    background-color: #0c3e11;
    font-family: Helvetica;
    text-align: center;
}

.bodyFormulario{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Helvetica;
}

#imagenes{
    width: 70%;
}

#imagenwalter{
    object-position: 2px 0px;
    width: 70%;
}

#imagenpistola{
    object-position: -1px 0px;
    width: 70%;
}

#imagencampana{
    object-position: 0px 2px;
    width: 70%;
}

#imagenTS{
    object-position: 0px -5px;
    width: 70%;
}

#hank{
    text-align: center;
    width: 50px;
    height: 155px;
}

td{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: black 8px solid;
    width: 50px;
    height: 50px;
}



.tabla1{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: black 8px solid;
}

.tabla2{
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: black 8px solid;
}

#verde0{
    background-color: #EFF6CB;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde1{
    background-color: #B8DA1C;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde2{
    background-color: #D5E87D;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde3{
    background-color: #89A419;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde4{
    background-color: #637028;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde5{
    background-color: #C5E14C;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

#verde6{
    vertical-align: top;
    background-color: #83904B;
    width: 50px;
    height: 50px;
}

#verde7{
    vertical-align: top;
    background-color: #C4C423;
    width: 50px;
    height: 50px;
}

#verde7b{
    background-color: #C4C423;
    width: 50px;
    height: 50px;
}

#morado{
    vertical-align: top;
    background-color: #AB8ECE;
    width: 50px;
    height: 50px;
}

#gris{
    background-color: #BCC49F;
    width: 50px;
    height: 50px;
}

#logo{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
}

#mayus{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: Helvetica;
}

#minus{
    text-align: center;
    color: black;
    font-size: 9px;
    font-family: Helvetica;
}

h2{
    text-align: center;
    color: white;
    font-family: "Bad";
    font-size: 30px;
}

h3{
    text-align: center;
}



#poster{
    width: 700px;
    height: 300px;
    border: 10px;
    border-style: outset;
    border-radius: 22px 22px 22px 22px;
    border-color: brown;
}

.poster{
    display: flex;
    justify-content: center;
}

#columnas-negro{
    background-color: black;
    width: 50px;
    height: 50px;
}